MONGO_URI=mongodb+srv://adia12528_db_user:Adi12528%40as@cluster0.da3qkei.mongodb.net/devchat?retryWrites=true&w=majority
PORT=5000

# Logging level: silent | error | warn | info | debug
# Recommended: debug for local development, error for production
LOG_LEVEL=debug


LIVEKIT_API_KEY=APIQQgty4XbWn59
LIVEKIT_API_SECRET=krerOsN0Bve0yNAVlz9tpT6OXq0XrNt6CVgiaHUrIrA